@font-face {
  font-family: "Win-10-Icons";
  src: url("../font/segmdl2.ttf") format("truetype");
  
  font-weight: normal;
  font-style: normal; }

i {
  line-height: inherit; }
  i.left {
    float: left;
    margin-right: 15px; }
  i.right {
    float: right;
    margin-left: 15px; }
  i.tiny {
    font-size: 1rem; }
  i.small {
    font-size: 2rem; }
  i.medium {
    font-size: 4rem; }
  i.large {
    font-size: 6rem; }

[class^="wdi-"], [class*=" wdi-"] {
  font-family: "Win-10-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  font-size: 16px;
}

.wdi-menu:before {
  content: "\e700"; }
.wdi-search:before {
  content: "\e11a"; }
.wdi-settings:before {
  content: "\e713"; }
.wdi-done:before {
  content: "\e010b"; }
.wdi-add:before {
  content: "\e109"; }
.wdi-clear:before {
  content: "\e106"; }
.wdi-heart:before {
  content: "\e00b"; }
.wdi-heart-outline:before {
  content: "\e006"; }
.wdi-broken-heart:before {
  content: "\e00c"; }
.wdi-mail:before {
  content: "\e119"; }
.wdi-remove:before {
  content: "\e108"; }
.wdi-content-copy:before {
  content: "\e16f"; }
.wdi-content-cut:before {
  content: "\e16b"; }
.wdi-content-paste:before {
  content: "\e16d"; }
.wdi-content-drafts:before {
  content: "\e166"; }
.wdi-content-send:before {
  content: "\e122"; }
.wdi-content-create:before {
  content: "\e104"; }
.wdi-content-save:before {
  content: "\e105"; }
.wdi-content-filter:before {
  content: "\e16e"; }
.wdi-content-report:before {
  content: "\e171"; }
.wdi-content-text-format:before {
  content: "\e186"; }
.wdi-content-link:before {
  content: "\e167"; }
.wdi-content-redo:before {
  content: "\e10d"; }
.wdi-content-reply-all:before {
  content: "\e165"; }
.wdi-content-flag:before {
  content: "\e7c1"; }
.wdi-content-flag-black:before {
  content: "\eb4b"; }
.wdi-content-undo:before {
  content: "\e10e"; }
.wdi-content-reply:before {
  content: "\e8ca"; }
.wdi-content-checkbox-composite:before {
  content: "\e73a"; }
.wdi-content-checkbox:before {
  content: "\e739"; }
.wdi-content-checkbox-fill:before {
  content: "\e73b"; }
.wdi-content-checkbox-composite-reversed:before {
  content: "\e73d"; }
.wdi-content-checkmark:before {
  content: "\e73e"; }

/* Varie*/
.wdi-thing-comment-L:before {
  content: "\e134"; }
.wdi-thing-favorite:before {
  content: "\e113"; }
.wdi-thing-unfavorite:before {
  content: "\e195"; }
.wdi-thing-favorite-star:before {
  content: "\e734"; }
.wdi-thing-favorite-star-fill:before {
  content: "\e735"; }
.wdi-thing-like:before {
  content: "\e19f"; }
.wdi-thing-dislike:before {
  content: "\e19e"; }
.wdi-thing-like-dislike:before {
  content: "\e19d"; }
.wdi-thing-video:before {
  content: "\e714"; }
.wdi-thing-reply:before {
  content: "\e248"; }
.wdi-thing-blocked:before {
  content: "\e25b"; }
.wdi-thing-typing:before {
  content: "\e25c"; }









/*AV*/
.wdi-av-play-arrow:before {
  content: "\e768"; }
.wdi-av-pause:before {
  content: "\e769"; }
.wdi-av-replay:before {
  content: "\e777"; }
.wdi-av-skip-previous:before {
  content: "\e100"; }
.wdi-av-skip-nexy:before {
  content: "\e101"; }
.wdi-av-shuffle:before {
  content: "\e14b"; }
.wdi-av-groove:before {
  content: "\e14a"; }
.wdi-av-stop:before {
  content: "\e15b"; }
.wdi-av-repeat:before {
  content: "\e1cd"; }
.wdi-av-repeat-1:before {
  content: "\e1cc"; }
.wdi-av-volume-off:before {
  content: "\e74f"; }
.wdi-av-volume-up:before {
  content: "\e767"; }
.wdi-av-volume-down:before {
  content: "\e992"; }
.wdi-av-album:before {
  content: "\e958"; }
.wdi-av-miracast:before {
  content: "\e952"; }
.wdi-av-cast:before {
  content: "\e957"; }
.wdi-av-airplay:before {
  content: "\e957"; }
.wdi-av-mic:before {
  content: "\ec71"; }
.wdi-av-mic-none:before {
  content: "\ec54"; }
.wdi-av-mic-sleep:before {
  content: "\ec55"; }
.wdi-av-mic-not-present:before {
  content: "\ec56"; }

/*Hardware*/
.wdi-hardware-computer:before {
  content: "\e7f8"; }
.wdi-hardware-desktop:before {
  content: "\e7f4"; }
.wdi-hardware-sd-card:before {
  content: "\e7f1"; }
.wdi-hardware-laptop:before {
  content: "\e7f8"; }
.wdi-hardware-speaker:before {
  content: "\e7f5"; }
.wdi-hardware-printer:before {
  content: "\e749"; }
.wdi-hardware-server:before {
  content: "\e211"; }
.wdi-hardware-laplet:before {
  content: "\e212"; }
.wdi-hardware-scanner:before {
  content: "\e294"; }
.wdi-hardware-pc-desktop:before {
  content: "\e703"; }
.wdi-hardware-dj-console:before {
  content: "\e772"; }
.wdi-hardware-smartphone:before {
  content: "\e8ea"; }
.wdi-hardware-keyboard:before {
  content: "\e92e"; }
.wdi-hardware-mouse:before {
  content: "\e962"; }
.wdi-hardware-keyboard-mouse:before {
  content: "\e961"; }
.wdi-hardware-projector:before {
  content: "\e95d"; }
.wdi-hardware-headset-mic:before {
  content: "\e95b"; }
.wdi-hardware-chip:before {
  content: "\e964"; }
.wdi-hardware-desktop-keyboard:before {
  content: "\ec4e"; }
.wdi-hardware-laptop-printer:before {
  content: "\eb66"; }
.wdi-hardware-cpu:before {
  content: "\e950"; }
.wdi-hardware-gamepad:before {
  content: "\e7fc"; }
.wdi-hardware-headset:before {
  content: "\e7f6"; }
.wdi-hardware-pc-tower:before {
  content: "\e83b"; }
.wdi-hardware-wall:before {
  content: "\e83d"; }
.wdi-hardware-mic:before {
  content: "\e1d6"; }
.wdi-hardware-torchlight:before {
  content: "\e754"; }

/*Navigation*/
.wdi-navigation-chevron-left:before {
  content: "\e012"; }
.wdi-navigation-chevron-right:before {
  content: "\e013"; }
.wdi-navigation-expand-less:before {
  content: "\e014"; }
.wdi-navigation-expand-more:before {
  content: "\e015"; }
.wdi-navigation-arrow-back:before {
  content: "\e112"; }
.wdi-navigation-arrow-forward:before {
  content: "\e111"; }
.wdi-navigation-more:before {
  content: "\e10c"; }
.wdi-navigation-arrow-top:before {
  content: "\e110"; }
.wdi-navigation-check:before {
  content: "\e081"; }
.wdi-navigation-menu:before {
  content: "\e700"; }
.wdi-navigation-close:before {
  content: "\e10a"; }

/*appbar*/
.wdi-appbar-accept:before {
  content: "\e8fb"; }
.wdi-appbar-accounts:before {
  content: "\e910"; }
.wdi-appbar-add:before {
  content: "\e710"; }
.wdi-appbar-add-friend:before {
  content: "\e8fa"; }
.wdi-appbar-admin:before {
  content: "\e7ef"; }
.wdi-appbar-align-center:before {
  content: "\e8e3"; }
.wdi-appbar-algin.left:before {
  content: "\e8e4"; }
.wdi-appbar-align-right:before {
  content: "\e8e2"; }
.wdi-appbar-all-apps:before {
  content: "\e71d"; }
.wdi-appbar-attach:before {
  content: "\e723"; }
.wdi-appbar-attach-camera:before {
  content: "\e8a2"; }
.wdi-appbar-audio:before {
  content: "\e8d6"; }
.wdi-appbar-back:before {
  content: "\e72b"; }
.wdi-appbar-back-to-window:before {
  content: "\e73f"; }
.wdi-appbar-block-contact:before {
  content: "\e8f8"; }
.wdi-appbar-bold:before {
  content: "\e8dd"; }
.wdi-appbar-bookmarks:before {
  content: "\e8a4"; }
.wdi-appbar-browse-photos:before {
  content: "\e7c5"; }
.wdi-appbar-bulletted-list:before {
  content: "\e8fd"; }
.wdi-appbar-calculator:before {
  content: "\e8ef"; }
.wdi-appbar-calendar:before {
  content: "\e787"; }
.wdi-appbar-calendar-day:before {
  content: "\e8bf"; }
.wdi-appbar-calendar-reply:before {
  content: "\e8f5"; }
.wdi-appbar-calendar-week:before {
  content: "\e8c0"; }
.wdi-appbar-camera:before {
  content: "\e722"; }
.wdi-appbar-cancel:before {
  content: "\e711"; }
.wdi-appbar-caption:before {
  content: "\e8ba"; }
.wdi-appbar-CC:before {
  content: "\e7f0"; }
.wdi-appbar-cellphone:before {
  content: "\e8ea"; }
.wdi-appbar-characters:before {
  content: "\e8c1"; }
.wdi-appbar-clear:before {
  content: "\e894"; }
.wdi-appbar-clear-selection:before {
  content: "\e8e6"; }
.wdi-appbar-close-pane:before {
  content: "\e89f"; }
.wdi-appbar-cloud:before {
  content: "\e753"; }
.wdi-appbar-comment:before {
  content: "\e90a"; }
.wdi-appbar-contact:before {
  content: "\e77b"; }
.wdi-appbar-contact2:before {
  content: "\e8d4"; }
.wdi-appbar-contact-info:before {
  content: "\e779"; }
.wdi-appbar-contact-presence:before {
  content: "\e8cf"; }
.wdi-appbar-copy:before {
  content: "\e8c8"; }
.wdi-appbar-crop:before {
  content: "\e7a8"; }
.wdi-appbar-cut:before {
  content: "\e8c6"; }
.wdi-appbar-delete:before {
  content: "\e74d"; }
.wdi-appbar-directions:before {
  content: "\e8f0"; }
.wdi-appbar-disable-updates:before {
  content: "\e8d8"; }
.wdi-appbar-disconnect-drive:before {
  content: "\e8cd"; }
.wdi-appbar-dislike:before {
  content: "\e8e0"; }
.wdi-appbar-dock-bottom:before {
  content: "\e90e"; }
.wdi-appbar-dock-left:before {
  content: "\e90c"; }
.wdi-appbar-dock-right:before {
  content: "\e90d"; }
.wdi-appbar-document:before {
  content: "\e8a5"; }
.wdi-appbar-download:before {
  content: "\e896"; }
.wdi-appbar-edit:before {
  content: "\e70f"; }
.wdi-appbar-emoji:before {
  content: "\e899"; }
.wdi-appbar-emoji2:before {
  content: "\e76e"; }
.wdi-appbar-favorite-list:before {
  content: "\e728"; }
.wdi-appbar-favorite-star:before {
  content: "\e734"; }
.wdi-appbar-favorite-star-fill:before {
  content: "\e735"; }
.wdi-appbar-filter:before {
  content: "\e71c"; }
.wdi-appbar-find:before {
  content: "\e11a"; }
.wdi-appbar-flag:before {
  content: "\e7c1"; }
.wdi-appbar-folder:before {
  content: "\e8b7"; }
.wdi-appbar-font:before {
  content: "\e8D2"; }
.wdi-appbar-font-color:before {
  content: "\e8d3"; }
.wdi-appbar-font-decrease:before {
  content: "\e8e7"; }
.wdi-appbar-font-increase:before {
  content: "\e8e8"; }
.wdi-appbar-font-size:before {
  content: "\e8e9"; }
.wdi-appbar-forward:before {
  content: "\e72a"; }
.wdi-appbar-four-bars:before {
  content: "\e908"; }
.wdi-appbar-full-screen:before {
  content: "\e740"; }
.wdi-appbar-globe:before {
  content: "\e774"; }
.wdi-appbar-go:before {
  content: "\e8ad"; }
.wdi-appbar-go-to-start:before {
  content: "\e8fc"; }
.wdi-appbar-go-to-today:before {
  content: "\e8d1"; }
.wdi-appbar-hangup:before {
  content: "\e778"; }
.wdi-appbar-help:before {
  content: "\e897"; }
.wdi-appbar-hide-BCC:before {
  content: "\e8c5"; }
.wdi-appbar-highlight:before {
  content: "\e7e6"; }
.wdi-appbar-home:before {
  content: "\e80f"; }
.wdi-appbar-import:before {
  content: "\e8B5"; }
.wdi-appbar-import-all:before {
  content: "\e8b6"; }
.wdi-appbar-important:before {
  content: "\e8c9"; }
.wdi-appbar-italic:before {
  content: "\e8db"; }
.wdi-appbar-leave-chat:before {
  content: "\e89b"; }
.wdi-appbar-library:before {
  content: "\e8f1"; }
.wdi-appbar-like:before {
  content: "\e8e1"; }
.wdi-appbar-like-dislike:before {
  content: "\e8df"; }
.wdi-appbar-link:before {
  content: "\e71b"; }
.wdi-appbar-list:before {
  content: "\ea37"; }
.wdi-appbar-location:before {
  content: "\e81d"; }
.wdi-appbar-mail:before {
  content: "\e715"; }
.wdi-appbar-mail-fill:before {
  content: "\e8a8"; }
.wdi-appbar-mail-forward:before {
  content: "\e89c"; }
.wdi-appbar-mail-reply:before {
  content: "\e8ca"; }
.wdi-appbar-mail-reply-all:before {
  content: "\e8c2"; }
.wdi-appbar-manage:before {
  content: "\e912"; }
.wdi-appbar-map-drive:before {
  content: "\e8ce"; }
.wdi-appbar-mappin:before {
  content: "\e707"; }
.wdi-appbar-memo:before {
  content: "\e77c"; }
.wdi-appbar-message:before {
  content: "\e8bd"; }
.wdi-appbar-microphone:before {
  content: "\e720"; }
.wdi-appbar-more:before {
  content: "\e712"; }
.wdi-appbar-move-to-folder:before {
  content: "\e8de"; }
.wdi-appbar-music-info:before {
  content: "\e90b"; }
.wdi-appbar-mute:before {
  content: "\e74f"; }
.wdi-appbar-new-folder:before {
  content: "\e8f4"; }
.wdi-appbar-new-window:before {
  content: "\e78b"; }
.wdi-appbar-next:before {
  content: "\e893"; }
.wdi-appbar-one-bar:before {
  content: "\e905"; }
.wdi-appbar-open-file:before {
  content: "\e8e5"; }
.wdi-appbar-open-local:before {
  content: "\e8dA"; }
.wdi-appbar-open-pane:before {
  content: "\e8a0"; }
.wdi-appbar-open-with:before {
  content: "\e7ac"; }
.wdi-appbar-orientation:before {
  content: "\e8b4"; }
.wdi-appbar-other-user:before {
  content: "\e7ee"; }
.wdi-appbar-outline-star:before {
  content: "\e1ce"; }
.wdi-appbar-page:before {
  content: "\e7c3"; }
.wdi-appbar-paste:before {
  content: "\e77f"; }
.wdi-appbar-pause:before {
  content: "\e769"; }
.wdi-appbar-people:before {
  content: "\e716"; }
.wdi-appbar-permission:before {
  content: "\e8d7"; }
.wdi-appbar-phone:before {
  content: "\e717"; }
.wdi-appbar-phone-book:before {
  content: "\e780"; }
.wdi-appbar-pin:before {
  content: "\e718"; }
.wdi-appbar-play:before {
  content: "\e768"; }
.wdi-appbar-post-update:before {
  content: "\e8f3"; }
.wdi-appbar-preview:before {
  content: "\e8ff"; }
.wdi-appbar-preview-link:before {
  content: "\e8a1"; }
.wdi-appbar-previous:before {
  content: "\e892"; }
.wdi-appbar-priority:before {
  content: "\e8d0"; }
.wdi-appbar-protected-document:before {
  content: "\e8a6"; }
.wdi-appbar-read:before {
  content: "\e8c3"; }
.wdi-appbar-redo:before {
  content: "\e7a6"; }
.wdi-appbar-refresh:before {
  content: "\e72c"; }
.wdi-appbar-remote:before {
  content: "\e8af"; }
.wdi-appbar-remove:before {
  content: "\e738"; }
.wdi-appbar-rename:before {
  content: "\e8ac"; }
.wdi-appbar-repair:before {
  content: "\e90f"; }
.wdi-appbar-repeat-all:before {
  content: "\e8ee"; }
.wdi-appbar-repeat-one:before {
  content: "\e8ed"; }
.wdi-appbar-report-hacked:before {
  content: "\e730"; }
.wdi-appbar-reshare:before {
  content: "\e8eb"; }
.wdi-appbar-rotate:before {
  content: "\e7ad"; }
.wdi-appbar-rotate-camera:before {
  content: "\e89e"; }
.wdi-appbar-save:before {
  content: "\e74e"; }
.wdi-appbar-save-local:before {
  content: "\e78c"; }
.wdi-appbar-scan:before {
  content: "\e8fe"; }
.wdi-appbar-select-all:before {
  content: "\e8b3"; }
.wdi-appbar-send:before {
  content: "\e724"; }
.wdi-appbar-set-lock-screen:before {
  content: "\e7b5"; }
.wdi-appbar-ste-tile:before {
  content: "\e97b"; }
.wdi-appbar-settings:before {
  content: "\e713"; }
.wdi-appbar-share:before {
  content: "\e72d"; }
.wdi-appbar-shop:before {
  content: "\e719"; }
.wdi-appbar-show-BCC:before {
  content: "\e8c4"; }
.wdi-appbar-show-results:before {
  content: "\e8bc"; }
.wdi-appbar-shuffle:before {
  content: "\e8b1"; }
.wdi-appbar-slideshow:before {
  content: "\e786"; }
.wdi-appbar-solid-star:before {
  content: "\e1cf"; }
.wdi-appbar-sort:before {
  content: "\e8cb"; }
.wdi-appbar-stop:before {
  content: "\e71a"; }
.wdi-appbar-street:before {
  content: "\e913"; }
.wdi-appbar-switch:before {
  content: "\e8ab"; }
.wdi-appbar-switch-apps:before {
  content: "\e8f9"; }
.wdi-appbar-sync:before {
  content: "\e895"; }
.wdi-appbar-sync-folder:before {
  content: "\e8f7"; }
.wdi-appbar-tag:before {
  content: "\e8ec"; }
.wdi-appbar-three-bars:before {
  content: "\e907"; }
.wdi-appbar-touch-pointer:before {
  content: "\e7c9"; }
.wdi-appbar-trim:before {
  content: "\e78a"; }
.wdi-appbar-two-bars:before {
  content: "\e906"; }
.wdi-appbar-two-page:before {
  content: "\e89a"; }
.wdi-appbar-underline:before {
  content: "\e8dc"; }
.wdi-appbar-undo:before {
  content: "\e7a7"; }
.wdi-appbar-un-favorite:before {
  content: "\e8d9"; }
.wdi-appbar-un-pin:before {
  content: "\e77a"; }
.wdi-appbar-un-sync-folder:before {
  content: "\e8f6"; }
.wdi-appbar-up:before {
  content: "\e74a"; }
.wdi-appbar-upload:before {
  content: "\e898"; }
.wdi-appbar-video-chat:before {
  content: "\e8aa"; }
.wdi-appbar-view:before {
  content: "\e890"; }
.wdi-appbar-view-all:before {
  content: "\e8a9"; }
.wdi-appbar-volume:before {
  content: "\e767"; }
.wdi-appbar-webcam:before {
  content: "\e8b8"; }
.wdi-appbar-world:before {
  content: "\e909"; }
.wdi-appbar-zoom:before {
  content: "\e71e"; }
.wdi-appbar-zoom-in:before {
  content: "\e8a3"; }
.wdi-appbar-zoom-out:before {
  content: "\e71f"; }
/*Icone batteria*/
.wdi-battery-unknown:before {
  content: "\ec02"; }
.wdi-battery-0:before {
  content: "\eba0"; }
.wdi-battery-1:before {
  content: "\eba1"; }
.wdi-battery-2:before {
  content: "\eba2"; }
.wdi-battery-3:before {
  content: "\eba3"; }
.wdi-battery-4:before {
  content: "\eba4"; }
.wdi-battery-5:before {
  content: "\eba5"; }
.wdi-battery-6:before {
  content: "\eba6"; }
.wdi-battery-7:before {
  content: "\eba7"; }
.wdi-battery-8:before {
  content: "\eba8"; }
.wdi-battery-9:before {
  content: "\eba9"; }
.wdi-battery-charging-0:before {
  content: "\ebab"; }
.wdi-battery-charging-1:before {
  content: "\ebac"; }
.wdi-battery-charging-2:before {
  content: "\ebad"; }
.wdi-battery-charging-3:before {
  content: "\ebae"; }
.wdi-battery-charging-4:before {
  content: "\ebaf"; }
.wdi-battery-charging-5:before {
  content: "\ebb0"; }
.wdi-battery-charging-6:before {
  content: "\ebb1"; }
.wdi-battery-charging-7:before {
  content: "\ebb2"; }
.wdi-battery-charging-8:before {
  content: "\ebb3"; }
.wdi-battery-charging-9:before {
  content: "\ebb4"; }
.wdi-battery-charging-10:before {
  content: "\ebb5"; }
.wdi-battery-saver-0:before {
  content: "\ebb6"; }
.wdi-battery-saver-1:before {
  content: "\ebb7"; }
.wdi-battery-saver-2:before {
  content: "\ebb8"; }
.wdi-battery-saver-3:before {
  content: "\ebb9"; }
.wdi-battery-saver-4:before {
  content: "\ebba"; }
.wdi-battery-saver-5:before {
  content: "\ebbb"; }
.wdi-battery-saver-6:before {
  content: "\ebbc"; }
.wdi-battery-saver-7:before {
  content: "\ebbd"; }
.wdi-battery-saver-8:before {
  content: "\ebbe"; }
.wdi-battery-saver-9:before {
  content: "\ebbf"; }
.wdi-battery-saver-10:before {
  content: "\ebc0"; }




























"Matt Grobbo" 
